 <%- include("partials/header.ejs") %>

 <div class="jumbotron text-center">
  <h1>Nahuel Molina</h1>
  <p>My blogs!</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Chatroom</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Transaction Simulator</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Biblio Manager</h3>        
      <p>Basically a task manager, where administrators can expand the book database and, at the same time allows users to ask for books</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>