 <%- include("partials/header.ejs") %>

 <div class="jumbotron text-center">
  <h1>Nahuel Molina</h1>
  <p>My projects!</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Chatroom</h3>
      <p>An application that allows users to chat in groups.</p>
      <p>Django channels is implemented, carrying out rhe whole communcation process along with javascript asyncronous funcitonality at the frontend.<p>
    </div>
    <div class="col-sm-4">
      <h3>Data Analysis</h3>
      <p>A cmd tool centered on data handling, data cleaning and several data analysis methods.</p>
      <p>Dimension reduction methods, regression and classification models, best-fit polynomials are applied.</p>
    </div>
    <div class="col-sm-4">
      <h3>Biblio Manager</h3>        
      <p>Basically a task manager, where administrators can expand the book database and, at the same time allows users to ask for books</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
