<%- include("partials/header.ejs") %>

<div class="jumbotron text-center">
  <h1>Nahuel Molina</h1>
  <p>Geophysics | Software | Data Science</p> 
</div>

<div class="text-center">
    <p>I am an advance <strong>geophysics student</strong>. Currently working on my thesis project.</p>
    <p class="m-5">During my course I have seen how software plays a determinant role in science. Since then, I have consider programming crucial and I aimed to use it in my personal and professional life. Along the years I realized the difficulties that implies to solve real life problems with software and I have decided to improve my technical habilities in development and to orient myself into find systems that solve those solutions, constantly learning and acquiring new tools.</p>
</div>

<div class="text-left">
    <ul class="m-5 list-inline">
        <li><strong>Git:</strong></li>
    <p>Fundamental when teams look for efficient collaboration, revert to previous version and to manage the code history.</p>
        <li><strong>Python:</strong></li>
    <p>A friendly language that allows easier integration and its popularity had converted it into a well kown tool for general development.</p>
        <li><strong>C++:</strong></li>
    <p>When perfomance and execution speeds matters, C++ is a top choice offering direct control over memory management optimizing resource usage in demanding application and real time systems.</p>
    </ul>
</div>
